#Nyan {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}
#cat {
    display: block;
    height: 100px;
    width: auto;
    position: absolute;
}
.container {
    position: relative;
}