#Nyan {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}
#cat {
    /* display: none; */
    height: 100px;
    width: auto;
}
.container {
    position: relative;
}
.animation {
    position: absolute;
}